<%- include("partials/header"); -%>
<%- include("partials/navbar"); -%>

<div class="container-fluid about-div">
    <h1>How to Develop a Reading Habit</h1>
    <p>
        Reading has a number of benefits including improving your memory and vocabulary, helping you learn new things, and improving focus and concentration. A lot of people say that they want to develop a reading habit but are unable to due to a lack of time. I was one of those people myself at one point in my life. I have used a number of tricks to help me read more and develop a daily reading habit. I have outlined these below.
    </p>

    <img src="https://miro.medium.com/max/700/1*maFC57QFSpEBASS3vLhsZw.jpeg" alt="">
        <br>
        <br>

    <h3>Create a reading list</h3>
    <p>
        I would definitely suggest you start out by creating a list of books that you would like to read. For example, you could create a list of novels you’ve always wanted to read but never had the chance to, or a list of books that you need to read to learn something about a topic or field of study that you are interested in. Apart from creating your own lists, you can also use lists that other people have created. Some popular lists include Modern Library’s 100 Best Novels and Le Monde’s 100 Books of the Century. You can also find a large number of different lists online. A great website to find reading lists is GoodReads.com.
    </p>
        <br>

    <h3>Set a goal</h3>
    <p>
        A good idea to motivate yourself to read more is to set a goal. For example, you could set a goal to read a certain number of books this year or a certain number of pages each day and then work on reaching that goal. Some tools you can use to help you achieve your reading goals include the Bookly app and the GoodReads.com Reading Challenge.
    </p>
    <br>

    <h3>Schedule a time for reading</h3>
    <p>
        To make sure that you will read every day, you need to schedule reading into your day. You could read first thing in the morning, during your commute, before going to sleep or even during lunch.
    </p>
    <br>

    <h3>Find a good place to read</h3>
    <p>
        Something that will help you read more is finding a good place to read. This should preferably be somewhere quiet, without any distractions. You could read in your bed, in a comfortable chair or sofa, on a park bench, and of course — at the library.
    </p>
    <br>

    <h3>Eliminate distractions</h3>
    <p>
        Make sure to eliminate any distractions that might be interfering with your reading — turn off the TV and put your smartphone on silent.
    </p>
    <br>

    <h3>Read actively</h3>
    <p>
        While passive reading is better than no reading at all, I would highly suggest you try an active approach to reading. When I say “read actively”, I mean think about what you are reading, highlight passages that you think are important or interesting, write comments and notes either on the book’s margins or in a separate notebook. If you are reading on your smartphone or your ebook reader, take advantage of their highlighting and note features.
    </p>
    <br>

    <h3>Know when to quit</h3>
    <p>
        Don’t feel like you have to finish every book you start. If the book you’re reading is boring or not what you imagined it would be, simply drop it and start reading a different one. A good rule that I like to use is the 50-page rule. I always read the first 50 pages of any book I start. If I still don’t enjoy it after 50 pages, I just quit and move on to a different book.
    </p>
    <br>

    <h5>I hope these tips will help you to read more and develop a daily reading habit. Now go and read a book!</h5>
    <br>
    <br>
    <h6> - Happy Reading!</h6>
</div>


<%- include("partials/footer");  -%>